<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trpp.englishproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_pic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_pic"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishProject">


        <activity
            android:name=".View.Activities.AddingActivity"
            android:exported="false"
            android:parentActivityName=".View.Activities.EntryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".View.Activities.LoadingActivity"
            android:exported="false"
            android:parentActivityName=".View.Activities.EntryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".View.Activities.ResultActivity"
            android:exported="false"
            android:parentActivityName=".View.Activities.EntryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".View.Activities.HelpActivity"
            android:exported="false"
            android:label="@string/help"
            android:parentActivityName=".View.Activities.EntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".View.Activities.EntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:label="@string/test"
            android:parentActivityName=".View.Activities.EntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>